/* Regole css generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgrey;
}

/* Regole css header */

header {
    height: 80px;
    background-color: white;
}

header figure {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 20px;
}

header figure img{
    height: 100%;
}

header h1 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
}

/* Regole css div contenitore */

/* .contenitore {
    background-color: lightgrey;
} */

/* Regole css main */

main{
    width: 80%;
    margin: 30px auto;
}

/* Regole css sezione tasti */

.tasti-ricerca {
    background-color: white;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    padding-left: 50px;
}

section button {
    cursor: pointer;
    font-weight: bold;
    color: white;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}

section .azzurro {
    background-color: #47adf1;
    border-color: #47adf1;
}

section .bianco {
    background-color: white;
    border-color: lightgrey;
    color: lightgrey;
}

/* Regole css sezione to do list */