/* Regole css generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

/* Regole css header */

header {
    height: 80px;
}

header figure {
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
    padding-left: 20px;
}

header figure img{
    height: 100%;
}

header h1 {
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
}

/* Regole css div contenitore */

.contenitore {
    background-color: lightgrey;
}